.main {
    margin: 0 auto;
    background-color: var(--white);

    >div:first-child {
        height: 30px;
        background: var(--main-bg);
        font-size: 12px;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    &__footer {
        padding: 15px 40px;
        display: flex;
        justify-content: space-between;
        height: 120px;
        align-items: center;
    }
}


.mainContent {
    /* border: 1px solid red; */
    width: 100%;
    padding: 0 100px;
    display: grid;
    height: 100%;
    grid-template-rows: 50% 50%;

    p {
        color: var(--dark)
    }

    &__topPart {
        /* border: 1px solid red; */
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid var(--gray);

        >div {
            display: flex;
            align-items: center;
            gap: 50px;
        }
    }
}


.navBlock {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    /* padding: 15px; */
    /* width: 100%; */

    ul {
        width: 100%;
        display: flex;
        justify-content: space-between;

        li {
            p {
                font-size: 14px;
                font-weight: 700;
            }
        }
    }
}


.call {
    display: flex;
    gap: 30px;

    >div:first-child {
        display: flex;
        align-items: center;

        svg {
            fill: var(--main-blue);
        }

        p {
            font-size: 18px;
            font-weight: 400;
            color: var(--green)
        }
    }

    >div:nth-child(2) {
        border-bottom: 1.4px dashed var(--gray);

        p {
            color: #222222;
        }
    }

    >div:nth-child(3) {
        display: flex;
        align-items: center;
        gap: 4px;

        p {
            font-size: 12px;
        }
    }
}

.logo {
    width: 109px;
    height: 37px;
    position: relative;
}

.basket {
    width: 32px;
    height: 27px;
    position: relative;
}

.btns {
    display: flex;
}


